.logobox{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
#fb-header{
    width: 40px;
    height: 40px;
    clip-path: circle(25px at center);
    position: relative;
    top: -0.1vw;
   
}
header{
    height: 60px !important;
    width: 100vw !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    


}
#search{
    height: 37px !important;
    width: 15vw !important;
    
    position: relative;

    opacity: 0.5;
    background-color: #E8E9EB;
}

#HI{ position: relative;

    font-size: 40px !important;

}
button{
    height: 40px !important;
    width: 60px !important; 
    margin-top: 15px !important;
    margin-right: 60px ;
    color: disabled;
}

.boxm{
 width: 43vw;
 display: flex;
 justify-content: space-between;

}
#boxm-icon{
    height: 40px !important;
    width: 60px !important; 
    margin-top: 15px !important;
    margin-right: 0 !important ;
    color: disabled;
}

#boxr{ 
    width: 24vw;
display: flex;
justify-content: space-evenly;


align-items: center;
top: 0px;
 }

#profile{
    width: 40px;
    height: 35px;
    clip-path: circle(15px at center);
    position: relative;
    
    top:1px;
}
#profile1{
    width: 30px;
    height: 30px;
    clip-path: circle(18px at center);
    position: relative;
    
    
    
    
}
#icon6{
    width: 25px !important;
    height: 25px !important;
    position: relative;
    top: 0.1vw !important;
    
    
 }
 #menubox{
    width: 40vw !important;
    height: 72vh !important;
    border-radius: 10px !important;
    position: absolute !important; 
    left: 56vw !important;
 
    box-shadow:
    8.9px 13.8px 16.8px rgba(0, 0, 0, 0.07),
    22.6px 34.9px 42.5px rgba(0, 0, 0, 0.061),
    46.1px 71.2px 86.7px rgba(0, 0, 0, 0.053),
    94.9px 146.7px 178.5px rgba(0, 0, 0, 0.045),
    260px 402px 489px rgba(0, 0, 0, 0.034)
  ;

    
  background-color: rgb(255, 255, 255) !important;
  
  z-index: 190;

  
}
#profile2{
    width: 30px;
    height: 30px;
    margin: 0 !important;
    clip-path: circle(18px at center);
    position: relative;
    top:1px;
    
}
#profile3{
    width: 30px;
    height: 30px;
    margin: 0 !important;
    clip-path: circle(18px at center);
    position: relative;
    top:1px;
    
    
}
#profile4{
    width: 30px;
    height: 30px;
    margin: 0!important;
    clip-path: circle(18px at center);
    position: relative;
    top:1px;
    
    
}







#menubox2 {
    width: 50%;
    height: 90%;
    padding-top: 3%;
     position: absolute;
     
     display: flex;
     flex-direction: column;
     
    border-radius: 10px;
    box-shadow:
    8.9px 13.8px 16.8px rgba(0, 0, 0, 0.07),
    22.6px 34.9px 42.5px rgba(0, 0, 0, 0.061),
    46.1px 71.2px 86.7px rgba(0, 0, 0, 0.053),
    94.9px 146.7px 178.5px rgba(0, 0, 0, 0.045),
    260px 402px 489px rgba(0, 0, 0, 0.034)
  ;

}
#search1{
width: 100% !important;
position: relative;
left: -20px;

}
#sicon
{   
    width: 25px;
    position: relative;
    
    z-index: 1;
    
    left: 10px;
    top: 5px;
}
#listk{ 
    width: 100% !important;
    height: 10vh !important;
   
    border-radius: 10px !important;
    background-color: white !important;
    border-color: white !important;
    display: flex !important;
    justify-content: flex-start;
    font-weight: 500;
    margin-bottom: 0px;
     }
#listk:hover{
    background-color: #f0f0f0   !important;
}
#iconp{
    width: 35px;
    height: 35px;
    position: relative;
    top: -0.5px;
}
#menubox4 { 
    
    position: absolute;
    left:56% ;
    width: 30%;
    height: 70%;
    padding-top: 10px;
 
       
    border-radius: 10px;
    box-shadow:
    8.9px 13.8px 16.8px rgba(0, 0, 0, 0.07),
    22.6px 34.9px 42.5px rgba(0, 0, 0, 0.061),
    46.1px 71.2px 86.7px rgba(0, 0, 0, 0.053),
    94.9px 146.7px 178.5px rgba(0, 0, 0, 0.045),
    260px 402px 489px rgba(0, 0, 0, 0.034)
  ;

}
#listc{
    width: 100% !important;
    height: 40px !important;
    border-radius: 10px !important;
    background-color: rgb(250, 250, 250) !important;
    border-color: white !important;
    display: flex !important;
    justify-content: flex-start;
    font-weight: 500;
    margin-bottom: 0px;
}
#iconm{
    width: 25px;
    height: 25px;
    position: relative;
    top: -0.5px;
}
@media screen  and (max-width: 700px){

    .logobox{
  
        display: flex;
        justify-content: flex-start;
       
        
    }
    #fb-header{
        width: 12%;
        height: 12%;
        clip-path: circle(100% at center);
        position: relative;
        top: -0.1vw;
       
    }

 .rside{
    display: none;
 }
.aside{
    display: none;
}
.boxm{
    display: none;
}
#search{
    height: 5vh !important;
    font-size: small;
    width: 35vw !important;
    position: relative;
    top: -8px;
    opacity: 0.5;
    background-color: #E8E9EB;
}
header{
    height: 60px !important;
    width: 99vw !important;
    display: flex;

    justify-content: space-between;
    align-items: center;
    }
    #boxr{
       
        position: relative;
        left: -12%;
    }
    #profile{
        width: 8vw;
        height: 8vw;
        clip-path: circle(50% at center);
        margin: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        
        top:1px;
    }
    #icon6{
        width: 5vw !important;
        height: 3vh  !important;
        position: relative;
        top: 0.1vw !important;
        
        
     }
     #profile2{
        width: 12%;
        height: 12%;
        clip-path: circle(40% at center);
        margin: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .profile2{
        width: 12%;
        height: 12%;
        clip-path: circle(40% at center);
        margin: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #profile3{
        width: 12%;
        height: 12%;
        clip-path: circle(40% at center);
        margin: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    #profile4{
        width: 12%;
        height: 12%;
        clip-path: circle(40% at center);
        margin: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
     #menubox{

        width: 70vw !important;
        height: 72vh !important;
        border-radius: 10px !important;
        position: absolute !important; 
        left: -50vw !important;
        
     
        box-shadow:
        8.9px 13.8px 16.8px rgba(0, 0, 0, 0.07),
        22.6px 34.9px 42.5px rgba(0, 0, 0, 0.061),
        46.1px 71.2px 86.7px rgba(0, 0, 0, 0.053),
        94.9px 146.7px 178.5px rgba(0, 0, 0, 0.045),
        260px 402px 489px rgba(0, 0, 0, 0.034)
      ;
    
        
    
      
      z-index: 190;
    
      
    }
     
#menubox2 {
    width: 50%;
    height: 90%;
    padding-top: 3%;
     position: absolute;

     display: flex;
     flex-direction: column;
     
    border-radius: 10px;
    box-shadow:
    8.9px 13.8px 16.8px rgba(0, 0, 0, 0.07),
    22.6px 34.9px 42.5px rgba(0, 0, 0, 0.061),
    46.1px 71.2px 86.7px rgba(0, 0, 0, 0.053),
    94.9px 146.7px 178.5px rgba(0, 0, 0, 0.045),
    260px 402px 489px rgba(0, 0, 0, 0.034)
  ;

}
#search1{
width: 100% !important;
height: 70%;
position: relative;
left: -20px;

}
#sicon
{   
    width: 20px;
    position: relative;
    
    z-index: 1;
    
    left: 10px;
    top: 0px;
}
#listk{ 
    width: 100% !important;
    height: 8vh !important;
   
    border-radius: 10px !important;
    background-color: rgb(252, 252, 252) !important;
    border-color: white !important;
    display: flex !important;
    justify-content: space-evenly;
    font-size: 2.2vh;
    font-weight: 500;
    margin-bottom: 0px;
     }
#listk:hover{
    background-color: #f0f0f0   !important;
}
#iconp{
    width: 30px;
    height: 25px;
    position: relative;
    top: -0.5px;
}
#menubox4 { 
    position: absolute;
    left:56% ;
    width: 36%;
    height: 80%;
    padding-top: 10px;
    margin-left: 2vh;
 
       
    border-radius: 10px;
    box-shadow:
    8.9px 13.8px 16.8px rgba(0, 0, 0, 0.07),
    22.6px 34.9px 42.5px rgba(0, 0, 0, 0.061),
    46.1px 71.2px 86.7px rgba(0, 0, 0, 0.053),
    94.9px 146.7px 178.5px rgba(0, 0, 0, 0.045),
    260px 402px 489px rgba(0, 0, 0, 0.034)
  ;

}
#listc{
    width: 100% !important;
    height: 6vh !important;
    border-radius: 10px !important;
    background-color: rgb(255, 254, 254) !important;
    border-color: white !important;
    display: flex !important;
    justify-content: space-evenly;
    font-size: 2.3vh;
    font-weight: 500;
    margin-bottom: 0px;
}
#iconm{
    width: 20px;
    height: 20px;
    position: relative;
    top: -0.5px;
}
}