#nav{
   
    background-color: rgb(48, 48, 216);
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#text
{     font-weight: 900;
  
}
#logingroup{position: relative;
    left: 8%;
    width: 38%;
  display: flex;
  justify-content: space-between;
align-items: center;


}
#submit1{

    height: 37px;
    width: 5vw !important;
    font-weight: 700;
    border-color: rgb(73, 135, 243);

}

input{
    width: 13vw!important;
}
#email{

}
#password{
}
img {
    width: 41% ;
    position: absolute;
    top: 100px ;
    height: 500px;

}
form{
    display: flex;
   flex-direction: column;
}
.radio{
    display: flex;
}
#para{
    color: rgb(78, 78, 235);
    position: relative;
    top: 100px;
   word-spacing:10px ;
    font-weight: 700;
}
.box{
    padding-left: 40px;
}
.box2{
    position: absolute;
    top: 70px;
    left: 60%;
    

    
    
}
#golu{
    margin-right: 10px;
    margin-bottom: 30px;
    

}
#gloi{
    margin-right: 10px;
}
#user{ 
    width: 85% !important;
    margin-bottom: 20px;
    
}
#user2{
    width: 85% !important;
    margin-bottom: 20px;
    width: 200px;
    
}
body{
    background-color: #E8E9EB !important;
}
#signup{
margin-top: 20% !important;
width: 40% !important;
display: flex;
justify-content: center;
align-items: center;
font-weight: 650;
font-size: large;

}
Link{
    
}

label{
    position: relative !important;
    left: -70px;
}
@media screen  and (max-width: 700px){
  .facebook{
  

      }
    #nav{
     

        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #text
    {     font-weight: 800;
      
    }
    #logingroup{
       
    
    display: none !important;
     
    }
    #submit1{
    
        height: 35px !important;
        width: 13vw !important;
        font-weight: 700;
        border-color: rgb(50, 75, 119);
    
    }
    
    input{
        width: 200px !important;
        background-color: rgb(203, 206, 207) !important;;
        border-color: rgb(179, 180, 182) !important;
    }
    #email{
        width: 32vw !important;
    }
    #password{
    width: 32vw !important;
    }
    img {
        width: 41% ;
        position: absolute;
        top: 100px ;
        height: 500px;
    
    }
    form{
        display: flex;
       flex-direction: column;
    }
    .radio{
        display: flex;
    }
    #para{
        color: rgb(78, 78, 235);
        position: relative;
        top: 100px;
       word-spacing:10px ;
        font-weight: 700;
    }
    .box{
        padding-left: 40px;
        display: none;
    }
    .box2{
        width: 94vw;
        
        padding: 4%;
 
 display: flex;
 flex-direction: column;
 
 position: relative;
 left: 0.5%;
    }
    #golu{
        margin-right: 10px;
        margin-bottom: 30px;
        
    
    }
    #gloi{
        margin-right: 10px;
    }
    #user{ 
        width: 85% !important;
        margin-bottom: 20px;
        
    }
    #user2{
        width: 85% !important;
        margin-bottom: 20px;
  
        
    }
    body{
        background-color: #E8E9EB !important;
    }
    #signup{
    margin-top: 20% !important;
    width: 40% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: large;
    color: black !important;
    
    }
    
    
    label{
        position: relative !important;
        left: -70px;
    }

}